$coloreMenu: rgba(214, 119, 11, 0.8);
$colore1: #121b22;
$colore2: #204254;
$bordoNero: 1px solid #000;
$bordoBianco: 1px solid #fff;

@font-face {
    font-family: 'social';
    src: url('./fonts/social.eot?12648479');
    src: url('./fonts/social.eot?12648479#iefix') format('embedded-opentype'),
         url('./fonts/social.woff2?12648479') format('woff2'),
         url('./fonts/social.woff?12648479') format('woff'),
         url('./fonts/social.ttf?12648479') format('truetype'),
         url('./fonts/social.svg?12648479#social') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* #region NAV*/

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(50px, auto) auto auto;
    grid-template-areas: 
        "logo hamburger"
        "menu menu"
        "hero hero";
}

nav div label[for = "tasto-menu"]::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(./media/hamburger-menu.svg);
    cursor: pointer;
}

nav div label[for = "tasto-menu"].chiudi::after {
    background-image: url(./media/close-menu.svg);
}

nav .logo {
    grid-area: logo;
    display: flex;
}

nav .logo img {
    max-width: 100%;
    padding-left: .5em;
}

nav .logo a {
    align-self: center;
}

nav .menu {
    position: relative;
    grid-area: menu;
}

nav .menu ul.mostra {
    max-height: 300px;
}

nav div {
    grid-area: hamburger;
    width: 50px;
    justify-self: end;
    margin-right: .5em;
    transform: scale(.7);
}

nav .hero-banner {
    grid-area: hero;
    font-size: 0;
}

nav .hero-banner img {
    max-width: 100%;
}

nav .menu ul {
    display: flex;
    flex-direction: column;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    max-height: 0;
    overflow: hidden;
    transition: .5s;
    font-size: 1.2em;
}

nav .menu ul li {
    text-align: center;
    border-bottom: $bordoBianco;
}

nav .menu ul li:last-of-type {
    border-bottom: none;
}

nav .menu ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    background-color: $coloreMenu;
    padding: .5em 0;
}

nav #tasto-menu:checked ~ .menu {
    max-height: 1000px;
}

/* #endregion NAV*/

article {
    background-color: $colore1;
    grid-area: article;
}

article img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border: $bordoNero;
}

main > * {
    border-top: $bordoNero;
    padding: .5em;
    font-size: 1.2em;
} 

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
            "article"
            "aside2"
            "aside1";
}

.aside1 {
    background-color: $colore1;
    grid-area: aside1;
}

.aside1 ul {
    display: flex;
    justify-content: space-around;
}

.aside1 a {
    font-family: social;
    text-decoration: none;
    font-size: 2em;
    text-shadow: 1px 1px #000;
}

.aside2 {
    background-color: $colore2;
    color: #fff;
    grid-area: aside2;
}

footer {
    background-color: #111;
    min-height: 150px;
    border-top: $bordoNero;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 450px) {

    nav .logo {
        padding: 1em 0;
    }

    nav div {
        align-self: center;
    }

}

@media only screen and (min-width: 768px) {

    nav {
        grid-template-areas: 
            "logo logo"
            "menu menu"
            "hero hero";
    }

    nav .logo {
        justify-self: center;
    }

    nav div {
        display: none;
    }

    nav .menu ul {
        max-height: unset;
        transition: none;
        position: initial;
        flex-direction: row;
        font-size: 1.3em;
    }

    nav .menu ul li {
        flex: 1 1 0%;
        border-bottom: 0;
        border-right: $bordoBianco;
    }

    nav .menu ul li:last-of-type {
        border-right: none;
    }

    main {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            "article aside2"
            "article aside1";
    }

    main > * {
        font-size: 1.4em;
    }

    article {
        border-right: $bordoBianco;
    }

    .aside1 {
        border-top: $bordoBianco;
    }

    .aside1 ul {
        flex-direction: column;
        align-items: center; 
        height: 80%;
    }

}

@media only screen and (min-width: 1024px) {

    main {
        grid-template-columns: 2.5fr 1fr 1fr;
        grid-template-areas: 
            "article aside2 aside1";
    }

    main > * {
        font-size: 1.5em;
    }

    .aside1 {
        border-top: $bordoNero;
        border-left: $bordoBianco;
    }

    nav .menu ul li:hover a {
        opacity: 0.8;
    }

    .aside1 ul {
        height: 50%;
    }

    .aside1 ul li a {
        transition:.5s ease-in;
    }

    .aside1 ul li:nth-of-type(1):hover a{
        color: #3b5998;
    }

    .aside1 ul li:nth-of-type(2):hover a{
        color: #00acee;
    }

    .aside1 ul li:nth-of-type(3):hover a{
        text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.1);
        color: transparent;
        background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;
    }

    .aside1 ul li:nth-of-type(4):hover a{
        color: #0e76a8;
    }


}
